language: php
php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - hhvm
  
before_script:
  ## Install Composer
  - composer install

script: 
  - phpunit --coverage-text

matrix:
     allow_failures:
         - php: hhvm  
